<%= form_for(partner_detail) do |f| %>
  <% if partner_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partner_detail.errors.count, "error") %> prohibited this partner_detail from being saved:</h2>

      <ul>
      <% partner_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :partner_name %>
    <%= f.text_field :partner_name %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :credit %>
    <%= f.check_box :credit %>
  </div>

  <div class="field">
    <%= f.label :debit %>
    <%= f.check_box :debit %>
  </div>

  <div class="field">
<<<<<<< HEAD
    <%= f.label :total %>
    <%= f.number_field :total %>
  </div>

  <div class="field">
=======
>>>>>>> 3817c6139f353c79337e72f482304d30e6969c11
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
