<p id="notice"><%= notice %></p>

<h1>Partner Details</h1>

<<<<<<< HEAD
<table border="3">
=======
<table>
>>>>>>> 3817c6139f353c79337e72f482304d30e6969c11
  <thead>
    <tr>
      <th>Partner name</th>
      <th>Amount</th>
      <th>Credit</th>
      <th>Debit</th>
<<<<<<< HEAD
      <th>Total</th>
=======
>>>>>>> 3817c6139f353c79337e72f482304d30e6969c11
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partner_details.each do |partner_detail| %>
      <tr>
        <td><%= partner_detail.partner_name %></td>
        <td><%= partner_detail.amount %></td>
        <td><%= partner_detail.credit %></td>
        <td><%= partner_detail.debit %></td>
<<<<<<< HEAD
        <td><%= partner_detail.total %></td>
=======
>>>>>>> 3817c6139f353c79337e72f482304d30e6969c11
        <td><%= partner_detail.description %></td>
        <td><%= link_to 'Show', partner_detail %></td>
        <td><%= link_to 'Edit', edit_partner_detail_path(partner_detail) %></td>
        <td><%= link_to 'Destroy', partner_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner Detail', new_partner_detail_path %>
<<<<<<< HEAD
<%= link_to 'Back', home_dashboard_path %>
=======
>>>>>>> 3817c6139f353c79337e72f482304d30e6969c11
