<p id="notice"><%= notice %></p>

<p>
  <strong>Partner name:</strong>
  <%= @partner_detail.partner_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @partner_detail.amount %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @partner_detail.credit %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @partner_detail.debit %>
</p>

<p>
  <strong>Total:</strong>
  <%= @partner_detail.total %>
</p>

<p>
  <strong>Description:</strong>
  <%= @partner_detail.description %>
</p>

<%= link_to 'Edit', edit_partner_detail_path(@partner_detail) %> |
<%= link_to 'Back', partner_details_path %>
